<table class='table'>
  <tr><%= image_tag user.get_profile_image(100,100) %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>follows</th>
    <th><%= link_to user.followings.count, followings_user_path(user.id)  %></th><!--followings_path(user.id),ここ質問する-->
  </tr>
  <tr>
    <th>followers</th>
    <th><%= link_to user.followers.count, followers_user_path(user.id) %></th><!--followers_path(user.id), ここも-->
  </tr>
</table>

<div class='row'>
  <% if user == current_user %>
  <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block edit_user_#{user.id}" do %>
    <i class="fas fa-user-cog"></i>
  <% end %>
  <% end %>


  <% if current_user.following?(user) %>
    <%= link_to user_relationships_path(user.id), method: :delete do %>
    <botton class="btn btn-primary">フォロー外す</botton>
    <% end %>
  <% else %>
    <%= link_to relationships_path(user.id), method: :post do %>
    <botton class="btn btn-success">フォローする</botton>
  <% end %>
  <% end %>

</div>