<div class='container'>
  <div class='row'>

    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info', user: @user  %>
      <h2 class="mt-3">New book</h2>
      <%= render 'form', book: @books %>
    </div>

    <div class='col-md-8 offset-md-1'>
  		<h2>Book detail</h2>
  		<table class='table'>
  		  <tr>
          <td><%= link_to(@book.user) do %>
            <%= image_tag @book.user.get_profile_image(100,100) %><br>
            <%= @book.user.name %>
            <% end %>
          </td>
          <td><%= link_to @book.title, @book %></td>
          <td><%= @book.body %></td>
          <!--ここから下追記-->
          <td>
            <p>評価 :<%= @book.star %>点</p>
            <div id="star-rate<%= @book.id%>"></div>
            <script>
            $('#star-rate<%= @book.id%>').raty({
              size      : 36,
              starOff   : '<%= asset_path('star-off.png') %>',
              starOn    : '<%= asset_path('star-on.png') %>',
              half      : false,
              readOnly: true,
              score: <%= @book.star %>,
            });
            </script>
            </div>
          </td>
          <!--ここまで-->

          <% if @user == current_user %>
          <td><%= link_to 'Edit', edit_book_path(@book), class: "btn btn-sm btn-success edit_book_#{@book.id}" %></td>
          <td><%= link_to 'Destroy', @book, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_book_#{@book.id}"%></td>
          <% end %>

          <td id="favorite_buttons_<%= @book.id %>">
　　    　<%= render "favorites/favorites", book: @book %>
　　    </td>
          <!--<td>-->
          <!-- <%##= link_to book_favorites_path(@book), method: :delete do %>-->
          <!--    ♥<%#= @book.favorites.count %>-->
          <!--  <%# end %>-->
          <!--<%# else %>-->
          <!--  <%#= link_to book_favorites_path(@book), method: :post do %>-->
          <!--    ♡<%#= @book.favorites.count %>-->
          <!--  <%# end %>-->
          <!--<%# end %>-->
          <!--</td>-->
          <td id="comment_counter">
　　        <%= render "book_comments/counter", book: @book %>
          </td>
        </tr>
      </table>

      <div id="comments">
　　    <%= render "book_comments/comments", book: @book, book_comment: @book_comment %>
　　  </div>
      <!--<%# @book.book_comments.each do |book_comment| %>-->
      <!--<p>-->
      <!--  <%#= image_tag book_comment.user.get_profile_image(50,50) %>-->
      <!--  <%#= book_comment.user.name %>-->
      <!--  <%#= book_comment.created_at.strftime('%Y/%m/%d') %>-->
      <!--  <%#= book_comment.comment %>-->
      <!--  <%# if book_comment.user == current_user %>-->
      <!--    <%#= link_to book_book_comment_path(book_comment.book, book_comment), class: "btn btn-danger", method: :delete do %>-->
      <!--    <i class="button"></i>-->
      <!--    Destroy-->
      <!--    <%# end %>-->
      <!--  <%# end %>-->
      <!--<%# end %>-->
      <!--</p>-->
      <!--<p>-->
      <!--  <%#= form_with model: [@book, @book_comment] do |f| %>-->
      <!--  <%#= f.text_area :comment, rows: '5', placeholder: "コメントをここに", class: "w-100" %><!--←class横幅の指定-->
      <!--  <%#= f.submit "送信する" %>-->
      <!--  <%# end %>-->
      <!--</p>-->

    </div>

  </div>
</div>